# frontend

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*



/coreml_server/.build
/coreml_server/xcuserdata
/coreml_server/*.xcodeproj
/coreml_server/DerivedData/
/coreml_server/.DS_Store
/coreml_server/db.sqlite
/coreml_server/.swiftpm
/coreml_server/.env
/coreml_server/.env.*
/coreml_server/! .env.example
/coreml_server/.vscode

/coreml_server/StableDiffusion/
/coreml_server/SuperResolution/
.DS_Store

/backend/node_modules
/backend/.env